html{
	font-family: 'arial', sans-serif;
	font-size: 16px;
}
*{
	margin: 0;
	padding: 0;
}

.universo{
	background: url('space-bg.jpg');
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100vw;/*vw viewport width*/
	height: 100vh;/*vh viewport height*/
}
.tierra,.jupiter,.luna,.cometa{position: absolute;}

@keyframes planet1{
	0%{transform: rotate(0);}
	100%{transform: rotate(3turn);}/*deg*/
}
@keyframes comet1{
	0%{transform: translate(0,0);}
	100%{transform: translate(-1000px,1000px);}/*deg*/
}
.tierra{
	width: 200px;
	right: 10%;
	animation-name: planet1;
	animation-duration: 12000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 
}
.jupiter{
	width: 55vw;
	bottom: -50%;
	left: -50px;
}
.luna{
	width: 75px;
	left: 50%;
	top: 50%;
	animation: planet1 30s linear infinite;
	transform-origin:500px; 

}
.cometa{
	width: 120px;
	top: -200px;
	right: -200px;
	animation:comet1 5s linear infinite;
}


img{width: 100%}